body {
  max-width: 800px;
  margin: 80px auto 80px auto;
  color: #29386D;
}

h1 {
  color: White;
}

p {
  color: #black;
}

.main-content {
  background-color: #black;
  padding: 20px;
}

.heading {
  padding: 20px auto;
  margin: 60px;
  text-align: center;
  background-color: Black;
}

.shadow {
  box-shadow: 10px, 10px, 10px, grey;
}

.square1 {
  margin: 5px;
  padding: 5px;
  border: 5px yellow;
  background-color: yellow;
  text-align: center;
}

.square2 {
  margin: 5px;
  padding: 5px;
  border: 5px blue;
  background-color: blue;
  text-align: center;
}

.square3 {
  margin: 5px;
  padding: 5px;
  border: 5px red;
  background-color: red;
  text-align: center;
}

.subheading1 p {
  font-family: "Lucida Console", monospace;
}

.subheading1 {
  margin: 10px;
  padding: 10px;
  background-color: White;
  background-image: linear-gradient(black, white)；
}

.subheading2 {
  margin: 10px;
  padding: 10px;
  background-color: White;
  background-image: linear-gradient(blue, white)；
}
h1 {
  text-shadow: 1px 1px 1px black;
}


#toggle-text {
  color: Black;
}
