body {
  max-width: 1000px;
  max-height: 1000px；
  margin: 50px auto 200px auto;
  color: #29386D;
}

h1 {
  color: White;
}

p {
  color: #29386D;
}

.main-content {
  background-color: #29386D;
  padding: 20px;
}

.heading {
  padding: 100px auto;
  margin: 60px;
  text-align: center;
  background-color: Black;
}

.shadow {
  box-shadow: 10px, 10px, 10px, grey;
}

.square1 {
  margin: 60px;
  padding: 60px;
  border: 10px yellow;
  background-color: yellow;
  text-align: left;
}

.square2 {
  margin: 60px;
  padding: 60px;
  border: 20px blue;
  background-color: blue;
  text-align: center;
}

.square3 {
  margin: 60px;
  padding: 60px;
  border: 10px red;
  background-color: red;
  text-align: right;
}

.subheading p {
  font-family: "Lucida Console", monospace;
}

.subheading {
  margin: 60px;
  padding: 60px;
  background-color: White;
  background-image: square；
}

h1 {
  text-shadow: 1px 1px 1px black;
  text-align: center;
}


#toggle-text {
  color: Black;
}
