body {
  max-width: 800px;
  margin: 10px auto 20px auto;
  color: #dddddd;
}

h1 {
  color: gold;
}

p {
  color: #004F62;
}

.main-content {
  background-color: #333333;
  padding: 20px;
}

.heading {
  padding: 100px auto;
  margin: 60px;
  text-align: center;
}

.black {
  background-color: black;
}

.shadow {
  box-shadow: 10px, 10px, 10px, grey;
}

.shadow {
  box-shadow: 10px, 10px, 10px, grey;
}

.porfolio-item {
  margin: 60px;
  padding: 60px;
  border: 10px dotted #ffffff;
  background-color: blue;
  /* color: #333333; */
}
#toggle-text {
  color: black;
}

.subheading p {
  font-family: "Lucida Console", monospace;
}

.subheading {
  margin: 60px;
  padding: 60px;
  border: 10px dotted #ffffff;
  background-color: black;
}

h1 {
  text-shadow: 1px 1px 3px white;
}

a {
  color: 004F62;
}

#toggle-text {
  color: black;
}
