
body {
  background-image: url("6ikh.gif");
  max-width: 500px;
  margin: 50px auto 50px auto;
  color: #black;
  style="front-size":50px;"arial"
}

h1 {
  color: green;
}

.heading {
  padding: 20px auto;
  margin: 60px;
  text-align: center;
  border:solid 10px #000;
  background-color: white;

}

.shadow {
  box-shadow: 10px, 10px, 10px, grey;
}

.p1{
  color:red;
}

.Question1 {
  margin: 5px;
  padding: 5px;
  border: 5px;
  background-color: White;
  border:solid 10px #000;
  text-align: center;
}

.Question2 {
  margin: 5px;
  padding: 5px;
  border: 5px;
  background-color: White;
  border:solid 10px #000;
  text-align: center;
}

.Question3 {
  margin: 5px;
  padding: 5px;
  border: 5px red;
  background-color: white;
  border:solid 10px #000;
  text-align: center;
}

.Question4 {
  margin: 5px;
  padding: 5px;
  border: 5px red;
  background-color: white;
  border:solid 10px #000;
  text-align: center;
}

.Question5 {
  margin: 5px;
  padding: 5px;
  border: 5px red;
  background-color: white;
  border:solid 10px #000;
  text-align: center;
}

h1 {
  text-shadow: 1px 1px 1px black;
}
