body {
  max-width: 800px;
  margin: 50px auto 200px auto;
  color: #29386D;
}

h1 {
  color: yellow;
}

p {
  color: #29386D;
}

.main-content {
  background-color: red;
  padding: 20px;
}

.heading {
  padding: 100px auto;
  margin: 60px;
  text-align: center;
  background-color: #red;
}

.blue {
  background-color: blue;
}

.shadow {
  box-shadow: 10px, 10px, 10px, grey;
}

.porfolio-item {
  margin: 60px;
  padding: 60px;
  border: 10px #ffffff;
  background-color: #386D57;
  text-align: center;
}

.subheading p {
  font-family: "Lucida Console", monospace;
}

.subheading {
  margin: 60px;
  padding: 60px;
  background-color: #386D57;
  background-image: linear-gradient；
}

h1 {
  text-shadow: 1px 1px 3px white;
  text-align: center;
}


#toggle-text {
  color: #00BA90;
}
